<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCday1</title>
    
</head>
<body>
    <div style="background:red">
        Welcome Header
    </div>

    @RenderBody();

    <div style="background:yellow">
        Welcome footer
    </div>
</body>
</html>

