@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@* @using MVCday1.Controllers
@model List<Employee>
<h1>Hello ya @ViewBag.Names</h1>
<table  id="myTable" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            
            <tr>
                <td scope="col">@item.ID</td>
                <td scope="col">@item.Name</td>
            </tr>
        }
    </tbody> *@
</table>